div.movediv{
	width:500px;
	height:400px;
	background-color:pink;
}
.controlcenter{
	width:200px;
	height:100px;
	border:1px solid red;
}
#typemoon{
	width:100px;
	left:100px;
	top:100px;
	position:absolute;
}